In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path_data="data/MAUS/Data/IBI_sequence/"
path_labels="data/MAUS/Subjective_rating/"
path_record="data/MAUS/Data/Raw_data/"
sub_id = ["002", "003", "004", "005", "006", "008", "010", "011", "012", "013", "014", "015", "016", "017", "018", "019", "020", "021", "022", "023", "024", "025"]


def parse_labels_nasa(path):
    labels_nasa=[]
    cols=['Trial 1:0back', 'Trial 2:2back', 'Trial 3:3back','Trial 4:2back', 'Trial 5:3back', 'Trial 6:0back']
    for id in sub_id:
        answer=pd.read_csv(path+id+"/NASA_TLX.csv", header=0, index_col = False, skipfooter=2)
        labels_nasa.append(answer)
    return labels_nasa


def parse_record(path):
    records=[]
    for id in sub_id:
        test=pd.read_excel(path+id+"/record.xlsx")
        records.append(test)
    return records

In [3]:
labels_nasa=parse_labels_nasa(path_labels)

/tmp/ipykernel_11741/286889413.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  answer=pd.read_csv(path+id+"/NASA_TLX.csv", header=0, index_col = False, skipfooter=2)
/tmp/ipykernel_11741/286889413.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  answer=pd.read_csv(path+id+"/NASA_TLX.csv", header=0, index_col = False, skipfooter=2)
/tmp/ipykernel_11741/286889413.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  answer=pd.read_csv(path+id+"/NASA_TLX.csv", header=0, index_col = False, skipfooter=2)
/tmp/ipykernel_11741/286889413.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  answer=pd.read_csv(path+id+"/NASA_TLX.csv", header=0, index_col = False, skipfooter=2)
/tmp/ipykernel_11741/286889413.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  answer=pd.read_csv(path+id+"/NASA_TLX.csv", header=0, index_col = False, skipfooter=2)
/tmp/ipykernel_11741/286889413.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  answer=pd.read_csv(path+id+"/NASA_TLX.csv", header=0, index_col = False, skipfooter=2)
/tmp/ipykernel_11741/286889413.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  answer=pd.read_csv(path+id+"/NASA_TLX.csv", header=0, index_col = False, skipfooter=2)
/tmp/ipykernel_11741/286889413.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  answer=pd.read_csv(path+id+"/NASA_TLX.csv", header=0, index_col = False, skipfooter=2)
/tmp/ipykernel_11741/286889413.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  answer=pd.read_csv(path+id+"/NASA_TLX.csv", header=0, index_col = False, skipfooter=2)
/tmp/ipykernel_11741/286889413.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  answer=pd.read_csv(path+id+"/NASA_TLX.csv", header=0, index_col = False, skipfooter=2)
/tmp/ipykernel_11741/286889413.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  answer=pd.read_csv(path+id+"/NASA_TLX.csv", header=0, index_col = False, skipfooter=2)
/tmp/ipykernel_11741/286889413.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  answer=pd.read_csv(path+id+"/NASA_TLX.csv", header=0, index_col = False, skipfooter=2)
/tmp/ipykernel_11741/286889413.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  answer=pd.read_csv(path+id+"/NASA_TLX.csv", header=0, index_col = False, skipfooter=2)
/tmp/ipykernel_11741/286889413.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  answer=pd.read_csv(path+id+"/NASA_TLX.csv", header=0, index_col = False, skipfooter=2)
/tmp/ipykernel_11741/286889413.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  answer=pd.read_csv(path+id+"/NASA_TLX.csv", header=0, index_col = False, skipfooter=2)
/tmp/ipykernel_11741/286889413.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  answer=pd.read_csv(path+id+"/NASA_TLX.csv", header=0, index_col = False, skipfooter=2)
/tmp/ipykernel_11741/286889413.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  answer=pd.read_csv(path+id+"/NASA_TLX.csv", header=0, index_col = False, skipfooter=2)
/tmp/ipykernel_11741/286889413.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  answer=pd.read_csv(path+id+"/NASA_TLX.csv", header=0, index_col = False, skipfooter=2)
/tmp/ipykernel_11741/286889413.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  answer=pd.read_csv(path+id+"/NASA_TLX.csv", header=0, index_col = False, skipfooter=2)
/tmp/ipykernel_11741/286889413.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  answer=pd.read_csv(path+id+"/NASA_TLX.csv", header=0, index_col = False, skipfooter=2)
/tmp/ipykernel_11741/286889413.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  answer=pd.read_csv(path+id+"/NASA_TLX.csv", header=0, index_col = False, skipfooter=2)
/tmp/ipykernel_11741/286889413.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  answer=pd.read_csv(path+id+"/NASA_TLX.csv", header=0, index_col = False, skipfooter=2)

In [4]:
records=parse_record(path_record)

In [5]:

df_records=pd.DataFrame()
for i in range(len(sub_id)):
    records[i]['user']=sub_id[i]
df_records=pd.concat(records)

In [6]:
df_records=df_records.drop([f"time.{i}" for i in range(1,6)]+["time"], axis=1)

In [7]:
df_records

,b1.Rsp,b1.CRsp,b1.RT,b2.Rsp,b2.CRsp,b2.RT,b3.Rsp,b3.CRsp,b3.RT,b4.Rsp,b4.CRsp,b4.RT,b5.Rsp,b5.CRsp,b5.RT,b6.Rsp,b6.CRsp,b6.RT,user
0,1.0,0.0,1378.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,532.0,002
1,1.0,0.0,407.0,1.0,0.0,1435.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,282.0,002
2,1.0,0.0,333.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,663.0,0.0,0.0,0.0,1.0,0.0,255.0,002
3,1.0,0.0,363.0,0.0,0.0,0.0,1.0,0.0,673.0,1.0,0.0,981.0,0.0,0.0,0.0,1.0,0.0,325.0,002
4,1.0,0.0,456.0,1.0,1.0,708.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,291.0,002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1.0,0.0,246.0,1.0,1.0,715.0,1.0,1.0,828.0,0.0,0.0,0.0,1.0,1.0,603.0,1.0,1.0,485.0,025
97,1.0,0.0,236.0,1.0,1.0,641.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,362.0,025
98,1.0,1.0,258.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,790.0,1.0,1.0,1271.0,1.0,1.0,432.0,025
99,1.0,0.0,295.0,1.0,1.0,669.0,0.0,1.0,0.0,1.0,1.0,796.0,0.0,0.0,0.0,1.0,0.0,390.0,025
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,025

In [8]:
for i in range(len(6)):
    df_records[f"b{}"]

SyntaxError: f-string: valid expression required before '}' (185037601.py, line 2)

In [9]:
average_per_test = df_records[["b1.Rsp", "b2.Rsp", "b3.Rsp", "b4.Rsp", "b5.Rsp", "b6.Rsp"]].mean()

In [10]:
average_per_test

b1.Rsp    0.997727
b2.Rsp    0.270909
b3.Rsp    0.244545
b4.Rsp    0.264091
b5.Rsp    0.276818
b6.Rsp    0.998182
dtype: float64